:root {
  --lite-purple: hsl(254, 88%, 90%);
  --purple: hsl(256, 67%, 59%);
  --lite-yellow: hsl(31, 66%, 93%);
  --yellow: hsl(39, 100%, 71%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
  font-size: 1.125rem;
}

body {
  background-color: #f5f5f5;
}

.lg-text {
  font-size: 4rem;
  font-weight: bolder;

  width: 90%;
  text-align: center;
}

.med-text {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: -1px;

  width: 80%;
}

.sm-text {
  font-size: 1.5rem;
  width: 83%;
  line-height: 1.5rem;
  margin: 0 auto;
}

img {
  max-width: 85%;
}

main > * {
  border-radius: 0.5rem;
  overflow: hidden;
}

main {
  max-width: 1440px;
  min-height: 100vh;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1.5rem;
  grid-template-areas:
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box2 box2 box3"
    "box1 box4 box5 box3"
    "box6 box4 box5 box3"
    "box6 box4 box5 box3"
    "box6 box7 box8 box8"
    "box6 box7 box8 box8"
    "box6 box7 box8 box8";

  place-content: center;
}

.create-post {
  grid-area: box1;
  font-weight: lighter;
  background-color: var(--lite-yellow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.create-post i {
  color: var(--purple);
}

.social-media {
  grid-area: box2;
  background-color: var(--purple);

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-media strong {
  color: var(--yellow);
  font-size: inherit;
  font-weight: inherit;
}
.social-media img {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.schedule {
  grid-area: box3;
  background-color: var(--lite-purple);
  padding: 10% 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
}

.schedule > img {
  max-width: none;
  width: 147%;
  object-fit: cover;
  object-position: top left;
  margin-left: 13rem;
  margin-top: 0.5rem;
}

.write-content {
  grid-area: box6;
  background-color: var(--yellow);

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.manage-multiple {
  grid-area: box4;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.manage-multiple img {
  max-width: none;
  width: 120%;
  object-fit: cover;
  object-position: left top;
  margin-left:7rem;
}

.maintain {
  grid-area: box5;
  background-color: var(--yellow);
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
}
.maintain :nth-child(1) {
  margin-top: 1rem;
}

.maintain img {
  height: 110px;
  width: 80%;
  object-fit: cover;
  object-position: top left;
}

.growth {
  grid-area: box7;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.growth span {
  text-align: start;
}

.growth p {
  margin-bottom: 10px;
}


.follower-growth {
  grid-area: box8;
  background-color: var(--purple);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follower-growth img {
  height: 80%;
  width: 50%;
  object-fit: contain;
  margin-left: 4%;
}

